body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vh;
}

.login-container{
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 8 4px 8px rgba(0,0, 0, 0.1);
    text-align: center;
    width: 300px;
}

input{
    display: block;
    width: 100;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button{
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    border: none;
    color: #ccc;
    font-size: 10px;
    border-radius: 4px;
    cursor: pointer;
}

button-hover{
    background-color: #358238;
}

#error-message{
    color: red;
    margin-top: 10px
}